# python
*.egg-info
*.pyc
__pycache__
/build
/dist
/Pipfile.lock

# virtualenv
/.virtualenv
/.venv
/bin
/include
/lib
/local
/share

# pip
/pip-selfcheck.json

# pytest
/.cache
/.coverage

# pipfile/pipenv
Pipfile.lock
